<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>

			<class name="com.voting.testCases.TC_001" />
			<class name="com.voting.testCases.TC_002" />
			<class name="com.voting.testCases.TC_003" />
			<class name="com.voting.testCases.TC_004" />
			<class name="com.voting.testCases.TC_005" />

			<class name="com.voting.testCases.TC_006" />
			<class name="com.voting.testCases.TC_007" />
			<class name="com.voting.testCases.TC_008" />
			<class name="com.voting.testCases.TC_009" />
			<class name="com.voting.testCases.TC_010" />

			<class name="com.voting.testCases.TC_011" />
			<class name="com.voting.testCases.TC_012" />
			<class name="com.voting.testCases.TC_013" />
			<class name="com.voting.testCases.TC_014" />
			<class name="com.voting.testCases.TC_015" />


			<class name="com.voting.testCases.TC_016" />
			<class name="com.voting.testCases.TC_017" />
			<class name="com.voting.testCases.TC_018" />
			<class name="com.voting.testCases.TC_019" />
			<class name="com.voting.testCases.TC_020" />


			<class name="com.voting.testCases.TC_021" />
			<class name="com.voting.testCases.TC_022" />
			<class name="com.voting.testCases.TC_023" />
			<class name="com.voting.testCases.TC_024" />
			<class name="com.voting.testCases.TC_025" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
